:global {
    
  .false {
    height: 0;
  }

  .true {
    height: auto;
    margin-top: 15px;
  }
}

.dropdown {
  width: 100%;
  padding: 15px;
  text-decoration: none;
  color: #99a9b5;
  text-transform: uppercase;
  text-align: left;
  overflow: hidden;
  position: relative;
  border-bottom: 1px solid #494c64;
  font-family: RobotoLight;


  &:before {
    position: absolute;
    right: 0;
    top: 20px;
    content: "";
    border-left: 4px solid transparent;
    border-bottom: 4px solid transparent; 
    border-right: 4px solid transparent;
    border-top: 4px solid #fff;
  }
}

.sub {
  overflow: hidden;
  margin-right: 15px;
  display: flex;
  flex-flow: column wrap;

  a {
    text-decoration: none;
    color: #99a9b5;
    padding: 15px 0;
    margin-left: 15px;
    font-family: RobotoLight;
  }
}

